{{> navbar}}


<div class="row">

    {{#if allProducts.length}}
    <div>
        <form action="/api/basket/{{../sanitizedUser.cart_id}}/productos" method="get">
            <button type="submit" class="btn btn-primary btn-sm">Ir al carrito</button>
        </form>

    </div>
    {{#each allProducts}}

    <div class="col-md-3">

        <div class="card" style="margin-top: 15px;">
            <img class="card-img-top" src="{{this.picture}}" alt="Card image cap"
                style="margin: 0 auto; max-height: 200px; max-width: 200px; height: 200px; width: auto">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.price}}</h6>
                <p class="card-text">{{this.Descripcion}}</p>
                <form action="/api/basket/{{../sanitizedUser.cart_id}}/productos" method="POST">
                    <input type="hidden" name="prod_id" value="{{this._id}}">
                    <button type="submit" class="btn btn-primary btn-sm">Comprar</button>
                </form>
            </div>
        </div>
    </div>

    {{/each}}

    {{/if }}

</div>
<br />
{{> footer}}
<br />