<%- include('./partials/navbar'); %>
<br/>

<h1 class="bg-dark text-white">Listado de productos</h1>
        <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">PRECIO</th>
      <th scope="col">FOTO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >id: <%=product.id%><br/> </td>
      <td>  titulo: <%=product.title%></td>
      <td> price: <%=product.price%><br/></td>
       <td><img src="<%=product.thumbnail %>" class="img-thumbnail " style="width: 15%;"/></td>
    </tr>
  </tbody>
</table>
<a href='/form'> 
    <button class='btn btn-secondary'>VOLVER AL FORMULARIO</button>
</a>
<br/>
<%- include('./partials/footer'); %>
<br/>